n8n-certificado-workflow.json
{
  "name": "Certificado Médico Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b8c7d3e4-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot_credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://69.62.89.195:3000/api/certificados/telegram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"mensaje\": \"{{ $json.message.text }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c9d8e7f6-5a4b-3c2d-1e0f-9a8b7c6d5e4f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "🏥 Tu certificado médico ha sido generado exitosamente\n\n📄 Documento: Certificado de Reposo Médico\n⏰ Generado: {{ new Date().toLocaleString('es-ES') }}"
        }
      },
      "id": "d0e9f8g7-6b5c-4d3e-2f1g-0h9i8j7k6l5m",
      "name": "Telegram Send Document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot_credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Error al generar el certificado médico\n\n📝 **Formato correcto:**\nDNI,APELLIDO,NOMBRE,TIEMPO,PALABRA1,PALABRA2,CODIGO\n\n💡 **Ejemplo:**\n33824963,JARA,JORGE,24HS.,Sindrome,gripal,B349\n\n📋 **Explicación:**\n• DNI: Número de documento\n• APELLIDO: Apellido del paciente\n• NOMBRE: Nombre del paciente\n• TIEMPO: Ej. 24HS., 48HS., etc.\n• PALABRA1-2: Descripción del diagnóstico\n• CODIGO: Código CIE-10 del diagnóstico\n\n🔄 Inténtalo nuevamente con el formato correcto."
      },
      "id": "e1f0g9h8-7c6d-5e4f-3g2h-1i0j9k8l7m6n",
      "name": "Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        680,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot_credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👋 ¡Hola! Soy tu asistente para generar certificados médicos.\n\n📝 **Para generar un certificado, envía:**\nDNI,APELLIDO,NOMBRE,TIEMPO,PALABRA1,PALABRA2,CODIGO\n\n💡 **Ejemplo:**\n33824963,JARA,JORGE,24HS.,Sindrome,gripal,B349\n\n📋 **Esto generará:**\n• Certificado para: JORGE JARA\n• DNI: 33824963\n• Reposo: 24 horas\n• Diagnóstico: Sindrome gripal B349\n\n🏥 El certificado será enviado como archivo PDF."
      },
      "id": "f2g1h0i9-8d7e-6f5g-4h3i-2j1k0l9m8n7o",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot_credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "start_condition",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "help_condition",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/help",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ayuda_condition",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "ayuda",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "g3h2i1j0-9e8f-7g6h-5i4j-3k2l1m0n9o8p",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        350,
        220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram Send Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "certificado-telegram-bot-v2",
  "tags": []
}